# Note: before use this file, please change the file name to .env

# project-name
PROJECT_NAME=rocketchat

# Persistant data directory
# if you use this dir for mongodb, please make sure user 1001(UID=1001) have read and write permission
PERSIST_VOLUME=${PWD}/data

# Service: Mongodb
MONGODB_VERSION=5.0.23
MONGODB_ROOT_PASSWORD=
# MongoDB replica set key. Length should be greater than 5 characters and should not contain any special characters. Required for all nodes.
MONGODB_REPLICA_SET_KEY=

MONGODB_ROCKETCHAT_DATABASE=rocketchat
MONGODB_ROCKETCHAT_USERNAME=
MONGODB_ROCKETCHAT_PASSWORD=

MONGODB_OPLOG_USER=oplogger
MONGODB_OPLOG_PASSWORD=

# Service: Rocketchat Web
ROCKETCHAT_WEB_VERSION=6.4.8
ROCKETCHAT_BIND_IP=0.0.0.0
ROCKETCHAT_WEB_PORT=3000
ROCKETCHAT_WEB_DOMAIN=chat.example.com
