# Note: before use this file, please change the file name to .env

# project-name
PROJECT_NAME=rocketchat

# Persistant data directory
PERSIST_VOLUME=${PWD}/data

# Service: MongoDB
MONGODB_VERSION=5.0.23
MONGODB_ROCKETCHAT_DATABASE=rocketchat

# Service: Rocketchat Web
ROCKETCHAT_WEB_VERSION=6.4.8
ROCKETCHAT_BIND_IP=0.0.0.0
ROCKETCHAT_WEB_PORT=3000
ROCKETCHAT_WEB_DOMAIN=chat.example.com
